body {
    margin: 0;
    padding: 0;
}

canvas {
    background: radial-gradient(circle, #383838, #303030, #282828, #252525, #242424, #232323);
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
}

.main {
    font-weight: bold;
    position: absolute;
    top: 25vh;
    left: 35vw;
    height: 30vh;
    width: 30vw;
    margin: auto;
    z-index: 2;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

header {
    padding-top: 0;
    margin-top: 0;
    color: azure;
    font-size: 1.5vw;
}

a {
    color: #00bbbb;
    font-weight: bolder;
}

.emoji {
    font-size: 20vh;
    padding: 0;
    margin: 0;
}