body {
    margin: 0;
    padding: 0;
}

canvas {
    background: radial-gradient(circle, #323232, #292929, #181818, #151515, #141414, #131313);
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
}

.main {
    position: absolute;
    top: 43vh;
    left: 35vw;
    height: 30vh;
    width: 30vw;
    margin: auto;
    z-index: 2;
    text-align: center;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

h1 {
    font-family: Roboto, sans-serif;
    letter-spacing: 1vw;
    font-weight: lighter;
    padding-top: 0;
    margin-top: 0;
    color: azure;
    font-size: 3vw;
}

a {
    font-family: Roboto, sans-serif;
    padding-top: 0;
    margin-top: 0;
    color: #00d1d1;
    font-size: 2.5vw;
    font-weight: normal;
    text-decoration: none;
}